<p><a href="<%= App.router.post_path(id) %>"><b><%= title %></b></a> &nbsp;<i>(<a href="<%= App.router.edit_post_path(id) %>">edit</a>)</i></p>
<p><%= body %></p>
<a class="js-destroy" href="#">Удалить</a>