<h1>Edit post.</h1>
<p></p>

<div id="create-post">
    <div id="errors"></div>
    <p>
        <input name="title" type="text" value="<%= title %>" placeholder="title" />
    </p>
    <p>
        <textarea name="body" placeholder="body"><%= body %></textarea>
    </p>
    <p>
        <a class="js-editPost" href="#">Edit</a>
    </p>
    <a class="#" href="<%= App.router.posts_path() %>">Back to Post List</a>
    
    
</div>
<br /><br />