<h1>New post.</h1>
<p></p>

<div id="create-post">
    <div id="errors"></div>
    <p>
        <input name="title" type="text" value="" placeholder="title" />
    </p>
    <p>
        <textarea name="body" placeholder="body"></textarea>
    </p>
    <p>
        <a class="js-createPost" href="#">Добавить</a>
    </p>
    <a class="#" href="<%= posts_path() %>">Back to Post List</a>
    
    
</div>
<br /><br />